In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [2]:
%matplotlib inline

In [3]:
import os
import warnings
warnings.filterwarnings('ignore')

In [4]:
def start_location(series):
    jd = series['StartJD']
    wd = series['StartWD']
    point = Point(jd, wd)
#     bao an
    vertex_lst_baoan = [
        [113.793451,22.656175],
        [113.801069,22.659776],
        [113.803225,22.653506],
        [113.815585,22.660177],
        [113.818783,22.655374],
        [113.826077,22.659043],
        [113.847062,22.627022],
        [113.817454,22.614612]
    ]
    
    baoan = Polygon(vertex_lst_baoan)
    result_baoan = baoan.contains(point)
    
    return result_baoan

def end_location(series):
    jd = series['EndJD']
    wd = series['EndWD']
    point = Point(jd, wd)
#     bao an
    vertex_lst_baoan = [
        [113.793451,22.656175],
        [113.801069,22.659776],
        [113.803225,22.653506],
        [113.815585,22.660177],
        [113.818783,22.655374],
        [113.826077,22.659043],
        [113.847062,22.627022],
        [113.817454,22.614612]
    ]
    
    baoan = Polygon(vertex_lst_baoan)
    result_baoan = baoan.contains(point)
    
    # bao an 10km inside
    vertex_l0km_baoan = [
        [113.803734,22.563633],
        [113.893995,22.608414],
        [113.840815,22.711135],
        [113.737474,22.692198],
    ]
    
    baoan_10km = Polygon(vertex_l0km_baoan)
    result_baoan_10km = baoan_10km.contains(point)
    
    result_city = False
    vertex_city = [
        [113.909374,22.620691],
        [113.892127,22.522442],
        [114.147389,22.52992],
        [114.13934,22.600407]
    ]
    
    
    city = Polygon(vertex_city)
    result_city = city.contains(point)
    
    
    return [result_baoan, result_baoan_10km, result_city]

In [5]:
def add_locationInfo(row):
    global location_df
    FromAirport = start_location(row)
    end_info = end_location(row)
    InAirport = end_info[0]
    InNearby = end_info[1]
    Faraway = end_info[2]
    location_df.loc[location_df.shape[0]+1] = {'FromAirport': FromAirport, 'InNearby': InNearby, 'Faraway': Faraway}

In [6]:
filenames = os.listdir('./TripData/')

In [9]:
trip_df = pd.read_csv('./TripData/%s'%filenames[0], index_col=0)
alltrip_df = trip_df[0:0]

for filename in filenames:
    location_df = pd.DataFrame({'FromAirport':[], 'InNearby': [], 'Faraway': []})
    trip_df = pd.read_csv('./TripData/%s'%filename, index_col=0)
    trip_df.apply(add_locationInfo,axis=1)
    trip_df = pd.concat([trip_df,location_df],axis=1)
    trip_df = trip_df[trip_df['FromAirport']==1]
    alltrip_df = alltrip_df.append(trip_df)

In [13]:
alltrip_df.head()

,Avg_speed,Distance,EndJD,EndTime,EndWD,End_idx,Faraway,FromAirport,InNearby,StartJD,StartTime,StartWD,Start_idx,fare
4,76.531250,0.359723,114.164536,2011/04/18 01:36:05,22.561951,171.0,0.0,1.0,0.0,113.815483,2011/04/18 01:02:34,22.648916,106.0,137.141949
70,75.125000,0.225440,114.028130,2011/04/19 13:46:39,22.540083,2545.0,1.0,1.0,0.0,113.831200,2011/04/19 13:28:07,22.649817,2528.0,66.195578
100,74.000000,0.277574,114.064201,2011/04/20 01:27:42,22.521566,3704.0,0.0,1.0,0.0,113.816467,2011/04/20 01:05:11,22.646767,3694.0,100.903754
145,59.500000,0.056493,113.869102,2011/04/20 22:33:54,22.620951,4911.0,0.0,1.0,1.0,113.818649,2011/04/20 22:28:50,22.646366,4906.0,20.137486
146,69.869565,0.137607,113.925652,2011/04/21 00:02:57,22.566683,5016.0,1.0,1.0,0.0,113.815269,2011/04/20 23:51:27,22.648849,4992.0,42.644351

In [12]:
alltrip_df.to_csv('./alltrip.csv')